{
  "openapi": "3.0.0",
  "info": {
    "title": "LiteAPI Travel API",
    "version": "3.0.0",
    "description": "API for hotel booking and management"
  },
  "servers": [
    {
      "url": "https://book.liteapi.travel/v3.0",
      "description": "Production server"
    }
  ],
  "paths": {
    "/data/hotels": {
      "get": {
        "summary": "Search hotels",
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cityName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hotels/rates": {
      "post": {
        "summary": "Get hotel rates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hotelIds", "occupancies", "currency", "guestNationality", "checkin", "checkout"],
                "properties": {
                  "hotelIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "occupancies": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "adults": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "currency": {
                    "type": "string",
                    "enum": ["USD", "EUR", "GBP"]
                  },
                  "guestNationality": {
                    "type": "string"
                  },
                  "checkin": {
                    "type": "string",
                    "format": "date"
                  },
                  "checkout": {
                    "type": "string",
                    "format": "date"
                  },
                  "timeout": {
                    "type": "integer"
                  },
                  "roomMapping": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hotelId": {
                            "type": "string"
                          },
                          "roomTypes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "offerId": {
                                  "type": "string"
                                },
                                "rates": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "cancellationPolicies": {
                                        "type": "object",
                                        "properties": {
                                          "refundableTag": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "paymentTypes": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rates/prebook": {
      "post": {
        "summary": "Prebook a rate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["offerId"],
                "properties": {
                  "offerId": {
                    "type": "string"
                  },
                  "usePaymentSdk": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "prebookId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rates/book": {
      "post": {
        "summary": "Book a rate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prebookId", "holder", "guests", "payment"],
                "properties": {
                  "prebookId": {
                    "type": "string"
                  },
                  "holder": {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  },
                  "guests": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "occupancyNumber": {
                          "type": "integer"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "remarks": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "payment": {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bookingId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bookings/{bookingId}": {
      "put": {
        "summary": "Cancel a booking",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
